@import url('global.css');

@font-face {
    font-family: 'Gilroy';
    src: url('Caminho/Gilroy.ttf') format('ttf');         
}

body {
    font-family: 'Gilroy', sans-serif; 
}


       /* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: rgba(0, 0, 0, 0.007);
}

.logo{
    display: flex;
    padding: 49px 100px;
}

.active{
   color: var(--color-primary);
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 40px;
   
}

.nav-header ul a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--color-black);
}

.header-icons{
 display: flex;
 gap: 8px;
 padding: 40px 100px;
}

.btn-header{
    background-color: rgba(0, 0, 0, 0.007);
    color: var(--color-primary);
    border-radius: 10px;
    width: 105px;
    height: 51px;
    border-color: var(--color-primary);

}

  /* FIM HEADER */

  /* MAIN */

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: 100px;
  }

.food-healthy h1{
    width: 563px;
    height: 160px;
    font-size: 62px;
 

}
.food-healthy span{
    color: var(--color-primary);
}

.food-healthy p{
   width: 503px;
   height: 116px; 
   font-size: 22px;
}

.main-buttons{
    display: flex;
    gap: 24px;
}
.active-first{
   width: 144px;
   height: 51px;
    background-color: var(--color-primary);
    color: var(--color-bg-overlay);
    border-radius: 10px;
    margin-top: 20px;

}

.active-second{
    margin-top: 22px;
    width: 188px;
    height: 51px;
    background-color: (--color-bg-overlay);
    color: var(--color-primary);
    border-radius: 10px;

}

/* ----------choose------- */

.choose-system{
    justify-content: center;
    align-items: center;
}



.choose-why{
   text-align: center;
   margin-top: 102px;
}

.choose-why h2{
    font-size: 48px;
}

.choose-why p{
    font-size: 18px;
}



.cards-chooses{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.cards-chooses-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-chooses h2{
    align-items: center;
    font-size: 28px;
    text-align: center
}

.cards-chooses p{
    font-size: 18px;
   width: 270px;
   text-align: center
}

.Choose-info{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.choose-content {
    width: 400px;
}

.Choose-info h2{
    font-size: 48px;
   
}

.Choose-info p{
    font-size: 18px;
}

/* FIM CHOOSES */

/* DISHES */
.dishes{
 justify-content: center;
 align-items: center;
}

 .dishes-why{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 40px;
 }

 .dishes-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
 }

 .dishes-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
 }


 .dishes-content h3{
    font-size: 28px;
 }

 .dishes-content p{
    font-size: 18px;
    width: 279px;
 }

 .dishes-content button{
    background-color: var(--color-primary);
    width: 350px;
    height: 53px;
    border-radius: 8px;
    color: var(--color-bg-overlay);
 }
/* FIM DISHES */


/* ABOUT US */

.about-us{
   justify-content: center;
   align-items: center;
}
.about-part{
    text-align: center;
    margin-top: 60px;
    gap: 8px;
}
.about-part h2{
    font-size: 48px;
}


.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    gap: 21px;
    
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 399px;
    background-color: var(--color-bg-overlay);
}

.about-content h2{
    font-size: 28px;
    text-align: center;
}

.about-content p{
    width: 319px;
    text-align: center;
    font-size: 15px
    
    
}

/* FIM ABOUT US */

/* INFO*/
.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 82px;
    margin-top: 60px;
}

.info-content{
    display: flex;
    flex-direction: column;
    gap: 24px
}
.info-content button{
    background-color: var(--color-primary);
    width: 157px;
    height: 53px;
    border-radius: 10px;
    color: var(--color-bg-overlay);
    
}

.info-content h2{
    font-size: 40px;
}

.info-content p{
    font-size: 18px;
    width: 558px;
}


/* FIM INFO*/

/* SUBSCRIBE */

.susbcribe-container{
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px; 
    flex-direction: column;

}


.subscribe-content h2{
    font-size: 48px;
}

.subscribe-content p{
 font-size: 18px;
}
.Subscribe-address button{
 background-color: var(--color-primary);
 width: 174px;
 height: 61px;
 border-radius: 8px;
 color: var(--color-bg-overlay);
 cursor: pointer;
 
 
}

.Subscribe-address form{
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.Subscribe-address form input{
    width: 700px;
    height: 77px;
    border: 1px solid #000;
    border-right: none;
   
}

.btn-input{
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-left: none;
}

/* FIM SUBSCRIBE*/

/* FOOTER */


footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    margin-top: 60px;
    padding: 100px

}




.footer-container{
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 40px;
    

}

.logo-and-itens{
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 24px;
}

.social-icons{
    display: flex;
    gap:16px;
    
}


.footer-links{
    list-style: none;
    font-size: 14px;
    margin-top: 24px;
}


.footer-navigation{
    display: flex;
    justify-content: center;
    gap: 239px;

}

.footer-navigation p{
    color: var(--color-bg-overlay);
}

.footer-navigation li{
    text-decoration: none;
    display: flex;
    color: var(--color-bg-overlay);
}

.footer-navigation li a{
    text-decoration: none;
    color: var(--color-bg-overlay);
}

.footer-navigation a{
    display: inline-block;
}

.footer-content nav ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.copy{
    margin-top: 20px;
    text-align: center;
    color: var(--color-bg-overlay);
    font-size: 18px;
    border: solid 1px 0px 0px 0px white;
}

.line{
    margin-top: 50px;
    width: 80%;
    height: 1px;
    background-color: var(--color-bg-overlay);
    
}



/* FIM FOOTER */


